# Laniakea Project Rules for backend

## 🛠 Tech Stack & Versions
* Siempre actua como un senior developer ruby on rails
* Intenta escribir el código lo más optimizado posible usando las mejores prácticas de ruby on rails
* Siempre que sea possible usa DRY (Don't Repeat Yourself), no crees código repetido, no controladores muy largos
* Usa Concerns para organizar el código
* Usa ActiveJob para tareas asíncronas
* Para el tema de las traducciones usa i18n y crea archivos de traducción en inglés y español en `config/locales` para cada modelo. Ejemplo si estamos trabajando con el modelo User, crearemos un archivo user.en.yml y user.es.yml
* IMPORTANTE: Sigue siempre el principio de "Backend-Driven UI Text". El frontend NO debe tener textos "hardcodeados" (cadenas de texto fijas). El backend debe servir todas las traducciones a través del endpoint `/locales/:locale`.
* Cada vez que crees o modifiques una vista o componente (Front o Back), ASEGÚRATE de agregar sus correspondientes claves de traducción en los archivos YML.

- **Ruby**: 3.2.2 (RVM)
- **Rails**: 7.1.6 (API Only)
- **Database**: PostgreSQL 18 (Local host, User: deploy)
- **Auth**: Devise + Devise-JWT (Sessions & Registrations custom JSON)
- **Background Jobs**: Sidekiq 6.5.5 (Redis Namespace: `laniakea`)
- **Storage**: ActiveStorage with DigitalOcean Spaces (S3 logic)
- **Timezone System**: Standard UTC in DB. Internal Rails time must sync with `user.timezone`.

## 📜 Coding Patterns
- **Secrets Management**: Always use Figaro (`config/application.yml`). Use `DEVISE_JWT_SECRET_KEY` for JWT.
- **API Response**: Consistent JSON responses. NO `jbuilder`.
- **Git**: Clean commits. `tmp/` and `log/` are IGNORED.
- **i18n**: Rails is the "Source of Truth" for translations, served via API.
- **Roles**: Use User model `enum role: { advertiser: 0, superadmin: 1 }`. Default is `advertiser`.

## 🚀 Infrastructure
- **Deployment**: VPS (Pure Rails + Next.js PWA).
- **WebSockets**: ActionCable mounted on `/cable` with Redis adapter.
- **Redis**: Use namespace `laniakea` to avoid collisions on VPS.


# Laniakea Project Rules for frontend

## 🛠 Tech Stack & Versions
* Next.js 14 (App Router)
* TypeScript
* Tailwind CSS
* PWA
* React Native
* Usar la libreria shadcn/ui para los componentes
* crear componentes en la carpeta app/components
* crear componente / dashboard iguales al los ejemplos que tiene la pagina de shadcn/ui
* Siempre crear custom hooks para la logica de negocio
* Intentar que los componentes sean cortos y reutilizables


