@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@layer base {
  :root {
    --background: 250 100% 99%;
    --foreground: 250 20% 5%;
    --card: 0 0% 100%;
    --card-foreground: 250 20% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 250 20% 5%;
    --primary: 262 83% 58%;
    --primary-foreground: 210 20% 98%;
    --secondary: 262 20% 96%;
    --secondary-foreground: 262 80% 30%;
    --muted: 262 20% 96%;
    --muted-foreground: 250 10% 40%;
    --accent: 262 30% 94%;
    --accent-foreground: 262 80% 30%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 262 30% 92%;
    --input: 262 30% 92%;
    --ring: 262 83% 58%;
    --radius: 0.75rem;
    --chart-1: 262 83% 58%;
    --chart-2: 270 50% 60%;
    --chart-3: 280 40% 70%;
    --chart-4: 290 30% 80%;
    --chart-5: 300 20% 90%;
  }
  .dark {
    --background: 260 25% 4%;
    --foreground: 210 20% 98%;
    --card: 260 25% 6%;
    --card-foreground: 210 20% 98%;
    --popover: 260 25% 6%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 83% 58%;
    --primary-foreground: 210 20% 98%;
    --secondary: 260 20% 12%;
    --secondary-foreground: 210 20% 98%;
    --muted: 260 20% 12%;
    --muted-foreground: 260 10% 70%;
    --accent: 260 20% 15%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 260 20% 15%;
    --input: 260 20% 15%;
    --ring: 262 83% 58%;
    --chart-1: 262 83% 58%;
    --chart-2: 270 50% 40%;
    --chart-3: 280 40% 30%;
    --chart-4: 290 30% 20%;
    --chart-5: 300 20% 10%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
